{% extends 'plantilla.html'%}

{% load static %}

{% block title %}
    <title>Pagina de inicio</title>
{% endblock title %}


{% block section %}
<div class="container ">
    <div style="height: 25rem;" class="mw-100 fondo p-4">
        <div class="w-100 h-100">
        </div>
    </div>

    <div class="container p-md-5">
        <div class="row">
            <div class="col text-center">
                <h1 class="tituloInicio">TECNOLOGHIES S.A.</h1>
            </div>
        </div>
    </div>
</div>
{% endblock section%}